body {
	width: 100%;
	margin: auto;
}

.topnav {
    background-color: #741010;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: helvetica;
}

 .topnav a:hover {
    background-color: #57d4cb;
    color: black;
}

.topnav .icon {
    display: none;
}


.whoweare h1 {
	color:black;
	font-size: 50px;
	color: #741010;
	background-color: white;
	padding: 15px;
	margin: 15px;
	text-align: center;
}

.whoweare p {
	color:black;
	font-size: 30px;
	color: #741010;
	background-color: white;
	padding: 15px;
	margin: 15px;
	text-align: center;
}

.Destinations  {
	color:black;
	font-size: 30px;
	color: #741010;
	background-color: white;
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center 
	
}

.cities {
	color:black;
	font-size: 30px;
	background-color: lightgrey;
	padding: 15px;
	margin: 15px;
	
	}

table, td {
  border: 1px solid black;
  width: 100%;
}

.picture {
	padding-top: 50px;
}


.video {
	padding-bottom: 100px;

}


#contact {width:100%; height:100%; margin 0 auto; background: #DDD; }

.container {width:960px; height:auto; margin: 0 auto; padding: 50px 0;}

#contact .container form input,
#contact .container form textarea {
	width:97.4%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#999;
	letter-spacing:1px;
	background: #FFF;
	border:2px solid #FFF;
	margin-bottom:25px;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form input:focus,
#contact .container form textarea:focus {
	border:2px solid #dd4545;
	color:#999;}

#contact .container form textarea {
	height:150px;}

#contact .container form .submit {
	width:100%;
	padding:5px 10px;
	font-size: 12px;
	letter-spacing:1px;
	background:#741010;
	height:40px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
	border:2px solid #741010;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form .submit:hover {
	color:#FFF;
	border:2px solid #dd4545;
	background: #741010;
	cursor:pointer;}

#contact .container form .required {
	color:#b43838;}